<!DOCTYPE html>
<html>
  <head>
    <title>Jamison Ordway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <div class="base">
      <nav class="nav">
        <h1>jamisonordway.dev</h1>
        <div class="buttons">
          <%= link_to "Portfolio", "/portfolio", class: 'btn' %>
          <%= link_to "Blog Posts", posts_path, class: 'btn' %>
          <%= link_to "Contact", "/", class: 'btn' %>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
