<!DOCTYPE html>
<html>
  <head>
    <title>Jamison Ordway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <div class="base">
      <nav class="nav">
        <%= link_to "jamisonordway.dev", "/", class: 'home-btn' %>
        <div class="buttons">
          <%= link_to "Portfolio", "/", class: 'btn' %>
          <%= link_to "Blog Posts", posts_path, class: 'btn' %>
          <%= link_to "Contact", "/contact", class: 'btn' %>
        </div>
      </nav>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
